#customdropdown .customdropdown {
  background-color: transparent;
  position: relative;
  &:hover + .caret {
    transform: rotate(180deg);
  }

  .customdropdown-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    span {
      font-size: 0.9vw;
      color: white;
    }
    .dropdown-body {
      position: absolute;
      box-sizing: border-box;
      width: 200px;
      top: 60px;
      right: 0;
      background-color: black;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 0;
      opacity: 1;
      transition: height 0.4s;
      &.open {
        display: block;
        height: max-content;
      }
      .dropdown-content {
        display: none;
        .callout-arrow {
          position: absolute;
          top: -15%;
          right: 15%;
          border-width: 7px;
          border-color: transparent transparent white;
          border-style: solid;
          height: 0;
          width: 0;
        }
        &.open {
          display: block;
        }
      }
      .profile-link {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
      .profile-icon {
        height: 32px;
        width: 32px;
        border-radius: 4px;
        margin-right: 5px;
      }
      .profile-name {
        font-size: 13px;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      .dropdown-account-item {
        box-sizing: border-box;
        padding: 8px 10px;
      }
      .reponsive-link {
        padding: 10px 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.25);
      }
      .account-link {
        font-weight: 700;
      }
    }
  }

  .caret {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    transition: all 0.2s ease-in-out;
    &.open {
      transform: rotate(180deg);
    }
  }
}
