.overflow-x-hidden{
    overflow-x: hidden;
}

.bg-black{
    background-color: #141414;
}

:root{
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: unset !important;
      }
}