$main-background: #333;
$gray: #8c8c8c;
$white: #fff;
//$error: #e87c03;
$error: red;

#customInput .custom-input {
    position: relative;
    .custom-input__form {
        position: relative;
        
        &__input {
            position: relative;

            box-sizing: border-box;

            width: 100%;
            height: 50px;

            border-radius: 4px;

            background-color: $main-background;
            .btn-eye {
                position: absolute;
                right: 0;
                top: 30%;

                outline: none;

                z-index: 2;
            }
            &.error {
                border-bottom: 2px solid $error;
            }
            &__error-label {
                

                font-size: 12px;
                color: $error;
            }
             .placehoder-label {
                position: absolute;

                top: 30%;
                left: 20px;

                font-size: 16px;

                color: $gray;

                transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease,
                    -moz-transform 0.1s ease, -o-transform 0.1s ease;

                z-index: 0;

                &.focus-input {
                    transform: translateY(-50%);

                    font-size: 10px;
                }
            }
            input {
                position: absolute;
                box-sizing: border-box;

                bottom: 0;

                border-radius: 4px;
                border: 0;

                height: 100%;
                width: 100%;

                 color: $white;

                padding: 16px 20px 0;

                z-index: 1;

                background-color: transparent;
                &:focus  {
                    outline: none;
                }
                
                &::-ms-reveal,
                &::-ms-clear {
                    display: none;
                }
            }
        }
    }
}