$blackOpacity1: rgba(0, 0, 0, 0.75);
$red: #e50914;
$gray: #8c8c8c;

#forgotPassword .forgot-password {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    z-index: 0;

    color: black;

    background-color: $blackOpacity1;

    box-sizing: border-box;
    &__background-image {
        position: absolute;
        display: block;

        height: 100%;
        min-height: 100vh;
        width: 100%;

        overflow: hidden;

        z-index: -1;

        background-size: cover;
        &__image-style {
            min-height: 100%;
            min-width: 100%;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        width: 100%;

        padding: 20px 3%;

        border-bottom: transparent;
        &__logo {
            height: 50px;
            fill: #e50914;
        }
        a {
            float: right;
            color: #e50914;
            font-weight: 700;
            font-size: 1.2em;
            line-height: 90px;
        }
    }
    &__body {
        width: 100%;
        height: fit-content;
        min-height: 68vh;

        background-color: transparent;

        margin: 0 auto;
        margin-bottom: 2vh;
        &__content {
            box-sizing: border-box;
            flex-direction: column;
            display: flex;

            width: fit-content;
            max-width: 100%;
            height: fit-content;

            padding: 40px;

            border-radius: 4px;

            background-color: #f3f3f3;
            &__main {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;

                width: 100%;

                padding: 20px 0 30px;

                .resend-email {
                    text-decoration: none;
                    font-weight: 700;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                
                .error-label {
                    font-size: 14px;
                    color: #e50914;

                    padding-top: 5px;
                    padding-bottom: 15px;

                    opacity: 0;
                    &.visible {
                        opacity: 1;
                    }
                }
                .radio_container {
                    position: relative;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 36px;

                    label {
                        color: black;
                        position: relative;
                        display: block;
                        width: 100%;
                        padding: 6px 0;
                    }
                    input[type="radio"] {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        box-sizing: border-box;
                        padding: 0;
                    }
                    input[type="radio"] + label:before {
                        content: "";
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        position: absolute;
                        display: block;
                        top: 10%;
                        left: -15%;
                        padding: 0;
                        border: 1px solid #b3b3b3;
                        background-color: whitesmoke;
                    }

                    input[type="radio"]:checked + label:after {
                        content: "";
                        position: absolute;
                        top: 27%;
                        left: -13%;
                        width: 12px;
                        height: 12px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        background-color: #0080ff;
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                a {
                    text-decoration: none;

                    font-size: 12px;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                &__title {
                    color: black;
                    font-size: 32px;
                    font-weight: 700;

                    margin-bottom: 28px;
                }

                &__button-forgot-password {
                    width: 100%;

                    margin: 24px 0 0 0;
                    padding: 16px;

                    border-radius: 4px;

                    background-color: $red;

                    cursor: pointer;
                    span {
                        font-size: 16px;
                        font-weight: 700;
                        color: #fff;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
