#errorPage .error-page {
  position: relative;
  
  
  .body-content {
    padding: 0 3rem;
    margin-top: 5vh;
    min-height: 75vh;
    .list-grid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-gap: 1rem;
      .grid-container {
        position: relative;
        height: 310px;
        max-height: 360px;
        min-height: 290px;

        width: 220px;
        min-width: 180px;
        max-width: 230px;

        padding-bottom: 40px;
        box-sizing: border-box;

        cursor: pointer;
        .item-grid {
          z-index: 1;

          border-radius: 10px;
          transition: all 0.4s;
          border: solid 1.5px gray;
          &:hover {
            transform: translateY(14%);
          }
          &:hover ~ .name-label {
            opacity: 1;
          }
        }
        .multi-landing-stack-space-holder {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 4px;

          .multi-landing-stack {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
            &-1 {
              @extend .multi-landing-stack;
              top: 2px;
              left: 3px;
              z-index: 2;
              background-color: #dbdbd7;
            }
            &-2 {
              @extend .multi-landing-stack;
              top: 5px;
              left: 7px;
              z-index: 1;
              background-color: #dbdbd7;
            }
          }

          .title-card {
            @extend .multi-landing-stack;
            top: 0;
            left: 0;
            z-index: 3;
          }
        }
        .name-label {
          font-size: 0.9rem;
          height: 15%;
          width: 100%;

          position: absolute;
          top: 0;
          left: 0;

          opacity: 0;

          border-radius: 4px 4px 0 0;

          background-color: #e50914;
          color: #fff;

          text-align: center;

          transition: all 0.3s;
          z-index: 0;
        }
      }
    }
    .spinner-color {
      color: #e50914;
      height: 3rem;
      width: 3rem;
    }
  }

  @media (min-width: 400px) {
    .list-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 600px) {
    .list-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .list-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 1100px) {
    .list-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (min-width: 1400px) {
    .list-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
