$blackOpacity1: rgba(0, 0, 0, 0.8);
$red: #e50914;
$gray: #8c8c8c;

#signIn .sign-in {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;


    z-index: 0;

    background-color: $blackOpacity1;
    &__background-image {
        position: absolute;
        display: block;

        height: 100%;
        min-height: 100vh;
        width: 100%;

        overflow: hidden;

        z-index: -1;

        background-size: cover;
        background-color: black;
        
        &__image-style {
            min-height: 100%;
            min-width: 100%;
            opacity: 0.7;
            pointer-events: none;
        }
    }
    &__header {
        width: 100%;

        padding: 10px 15px;

        border-bottom: transparent;
        .sign-in__header__logo {
            max-height: 70px;
            height: 5vh;
            margin-left: 3%;
            margin-top: 1vh;
            fill:red;
        }
    }
    &__body {
       
        width: 100vw;
        
        min-height: 60vh;
        
        padding: 0 2%;
        background-color: transparent;

        &__content {
            box-sizing: border-box;
            flex-direction: column;
            display: flex;
            
            width: 100%;
            min-width: 360px;
            max-width: 400px;

            padding: 2vw 5vh;
            margin-bottom: 3vh;

            border-radius: 4px;

            background-color: $blackOpacity1;
            &__main {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between; 

                width: 100%;
                height: 100%;
                min-height: 450px;

                padding: 20px 0 30px;
                .error-label {
                    font-size: 12px;
                    color: red;

                    padding-top: 5px;
                    padding-bottom: 15px;

                    opacity:0;
                    &.visible{
                        opacity:1
                    }
                }
                span {
                    color: $gray;
                    font-size: 12px;

                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                a {
                    text-decoration: none;
                    color: #757575;
                    font-size: 12px;
                    &:hover{
                        text-decoration: underline; 
                    }
                }

                &__title {
                    color: #fff;
                    font-size: 28px;
                    font-weight: 700;

                    margin-bottom: 28px;
                }

                &__button-sign-in {
                    width: 100%;

                    margin: 24px 0;
                    padding: 16px;

                    border-radius: 4px;

                    background-color: $red;
                    cursor: pointer;
                    span {
                        font-size: 16px;
                        font-weight: 700;
                        color: #fff;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .sign-up{
                    color: #fff;
                    font-weight: 400;
                    margin-left: 5px;
                }

            }
        }
    }
}