$icon-color: white;

.video-player__top .input-search {
    width: 230px;
}
.icon {
    width: 48px;
    height: 48px;

    opacity: 0.7;
    transition: all 0.4s;
    &:hover {
        opacity: 1;
        transform: scale(1.2);
    }
    &--color {
        @extend .icon;
        color: $icon-color;
    }
    &--fill {
        @extend .icon;
        fill: $icon-color;
    }
}

#videoPlayer .video-player {
    background-color: black;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    .video-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__top {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 80px;

        display: flex;
        align-items: center;

        padding-left: 3vw;

        // background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));

        &__icon-container {
            cursor: pointer;
            z-index: 2;

            text-decoration: none;
            color: white;

            transition: all 0.5s;
            span {
                opacity: 0;
                transition: all 0.5s;
            }
            &:hover {
                transform: scale(1.2);
            }
            &:hover > span {
                opacity: 1;
            }
        }

        &__icon-back {
            width: 1.6em;
            height: 1.6em;
            stroke: white;
        }
    }
    &__icon-container {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        &__icon {
            z-index: 3;

            height: 72px;
            width: 72px;

            opacity: 0.7;
            color: red;

            &.pause {
                animation: fadeOut ease 1s;
                -webkit-animation: fadeOut ease 1s;
                animation-fill-mode: forwards;
            }
        }
    }
    

    &__bottom {
        position: absolute;
        bottom: 0;

        height: 7vh;

        padding: 0 0.7% 1vw;
        z-index: 2;
        box-sizing: border-box;

        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        &__bar-container {
            position: relative;
            display: flex;
            flex-direction: column;

            &__bar {
                box-sizing: border-box;
                float: none;

                width: 100%;
                height: 0.5vh;

                position: relative;
                transition: all 0.5s;
                .tool-tip {
                    display: none;
                    position: absolute;
                    top: -5vh;

                    cursor: default;

                    color: white;
                }
                input[type="range"] {
                    z-index: 2;
                    border: 0;

                    position: absolute;
                    top: 0;

                    width: 100%;
                    height: 0.5vh;

                    background: transparent;
                    -webkit-appearance: none;

                    &::-webkit-slider-runnable-track {
                        -webkit-appearance: none;
                        box-shadow: none;
                        border: none;
                        background: transparent;
                    }

                    &:hover ~ .video-player__bottom__bar-container__bar--played {
                        transform: scaleY(2);
                    }
                    &:hover ~ .video-player__bottom__bar-container__bar--loaded {
                        transform: scaleY(2);
                    }
                    &:hover ~ .tool-tip {
                        display: block;
                    }
                }

                input[type="range"]::-webkit-slider-thumb {
                    border: 4px solid white;
                    height: 16px;
                    width: 16px;
                    border-radius: 23px;
                    background: red;
                    cursor: pointer;
                    -webkit-appearance: none;
                }
                &--played {
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 0;

                    background-color: transparent;
                    transition: all 0.5s;
                    progress {
                        @extend .video-player__bottom__bar-container__bar--played;
                        width: 100%;
                        &::-webkit-progress-bar {
                            background-color: transparent;
                        }
                        &::-webkit-progress-value {
                            background: red;
                        }
                    }
                }
                &--loaded {
                    height: 100%;
                    width: 100%;
                    z-index: 0;
                    position: absolute;
                    top: 0;

                    background-color: transparent;
                    transition: all 0.5s;
                    progress {
                        @extend .video-player__bottom__bar-container__bar--loaded;
                        width: 100%;
                        &::-webkit-progress-bar {
                            background-color: gray;
                        }
                        &::-webkit-progress-value {
                            background: rgb(214, 214, 214);
                        }
                    }
                }
            }
            &__remain-time {
                width: fit-content;

                text-align: right;

                padding: 0px 5px;
                margin: 0;

                color: white;
                font-size: 14px;
            }
            &__player-container {
                display: flex;
                justify-content: space-between;

                width: 100%;

                margin-top: 1vh;
                align-items: center;
                input[type="range"] {
                    width: 100px;
                    height: 0.5vh;

                    margin-left: 20px;

                    background-image: linear-gradient(red, red);
                    background-size: 80% 100%;
                    background-repeat: no-repeat;
                    -webkit-appearance: none;

                    &::-webkit-slider-runnable-track {
                        -webkit-appearance: none;
                        box-shadow: none;
                        border: none;
                        background: transparent;
                    }
                    &::-webkit-slider-thumb {
                        height: 16px;
                        width: 16px;
                        border-radius: 23px;
                        background: $icon-color;
                        cursor: pointer;
                        -webkit-appearance: none;
                    }
                }

                .volume {
                    opacity: 0;
                    &.open {
                        opacity: 1;
                    }
                }
                .icon {
                    width: 24px;
                    height: 24px;

                    opacity: 0.7;
                    transition: all 0.4s;
                    &:hover {
                        opacity: 1;
                        transform: scale(1.2);
                    }
                    &--color {
                        @extend .icon;
                        color: $icon-color;
                    }
                    &--fill {
                        @extend .icon;
                        fill: $icon-color;
                    }
                }

                &__left {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    height: 100%;
                }
            }
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}
