.alert_clicked,
.alert {
    position: absolute;
    display: flex;
    width: 610px;
    height: 40px;
    justify-content: space-between;
    padding: 0 14px;
    flex-direction: row;
    border-radius: 4px;
    .text {
        font-size: 14px;
        color: #ea5455;
    }
    .danger {
        font-weight: bold;
    }
}

.alert {
    background: rgba(234, 84, 85, 0.12);
}
.alert_clicked {
    background: rgba(9, 12, 151, 0.12);
}
.button {
    cursor: pointer;
}

.drawer-header {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;
    color: white;
    align-items: center;
}

.brand-logo {
    height: 20px;
    font-size: 25px;
}
.brand-text {
    color: red;
    margin-left: 10px;
    width: 60%;
    background-color: #ea5455;
    font-size: x-large;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
