#footer .footer {
    position: relative;
    width: 100%;
    height: 20vh;
    background: rgba(0, 0, 0, 0.75);

    // padding-bottom: 20px;

    font-size: 1em;
    color: #757575;

    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
        padding: 1vw 5vw ;
        width: 100vw;
        &--top-site {
            margin: 0 0 2vh;
            a {
                text-decoration: none;
                color: #757575;
            }
        }
        &--links {
            font-size: 13px;
            .footer__content--links_item {
                box-sizing: border-box;
                padding: 0;
                margin-bottom: 10px;
                display: inline-block;
                min-width: 100px;
                width: 25%;
                padding-right: 12px;
                vertical-align: top;
                a {
                    text-decoration: none;
                    color: #757575;
                }
                &:hover {
                    text-decoration: underline;
                  }
            }
        }
        &--language-selection {
            margin-top: 20px;

            &__header {
                cursor: pointer;
                display: flex;
                width: 100px;
                border-radius: 4px;
                padding: 15px 5px;
                border-width: 1px;
                border-style: solid;
                border-color: #fff;
                align-items: center;
                justify-content: space-between;
                position: relative;
                span {
                    font-size: 13px;
                    color: #757575;
                }
                .caret {
                    margin-left: 10px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 5px 0 5px;
                    border-color: #fff transparent transparent transparent;
                    transition: all 0.2s ease-in-out;
                    &.open {
                        transform: rotate(180deg);
                    }
                }

                .footer__content--language-selection__picker {
                    position: absolute;
                    width: 100%;
                    display: none;
                    bottom: -50%;
                    right: 0;
                    transition: height 0.4s;

                    &.open {
                        display: block;
                        height: 20px;
                    }
                    .footer__content--language-selection__picker__item {
                        &:hover {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}
