$blackOpacity1: rgba(0, 0, 0, 0.75);
$red: #e50914;
$gray: #8c8c8c;

#registration .registration {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    overflow: hidden;

    z-index: 0;

    background-color: $blackOpacity1;
    &__background-image {
        position: absolute;
        display: block;

        height: 100%;
        min-height: 100vh;
        width: 100%;

        overflow: hidden;

        z-index: -1;

        background-color: white;
        background-size: cover;
        &__image-style {
            min-height: 100%;
            min-width: 100%;
        }
    }
    &__header {
        position: absolute;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        top: 0;

        width: 100%;

        padding: 10px 3%;

        border-bottom: 1px solid #e6e6e6;
        
        &__container {
            line-height: 90px;
        }

        &__logo {
            height: 45px;
            fill: #e50914;
        }
        a {
            text-decoration: none;
            float: right;
            color: black;
            font-weight: 700;
            font-size: 1.2em;
            line-height: 90px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__body {
        height: 75vh;

        margin: 0 auto;
        padding: 0 5%;

        background-color: transparent;

        &::before {
            content: "";
            height: 15vh;
            display: block;
        }
        &::after {
            content: "";
            height: 5vh;
            display: block;
        }
        &__content {
            box-sizing: border-box;
            flex-direction: column;
            display: flex;

            min-height: 60vh;
            max-width: 340px;
            width: 100%;

            margin-bottom: 10vh;

            border-radius: 4px;

            display: block;
            transform: none;
            transition-duration: 250ms;
            &__main {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                width: 100%;

                padding: 20px 0 30px;
                &__image-devices {
                    max-width: 260px;
                    margin: 3vh 0;
                }
                &__step-indicator {
                    width: 100%;
                    display: block;
                    font-size: 13px;
                }
                &__step-title {
                    font-size: 32px;
                    font-weight: 700;
                    margin: 0 0 0.4em;
                    color: #333;
                }
                &__step-content {
                    font-size: 18px;
                    max-width: 300px;
                    display: inline-block;
                    color: #333;
                }

                a {
                    width: 100%;
                    text-decoration: none;
                }

                &__button-next {
                    width: 100%;
                    min-height: 64px;

                    margin: 24px 0;
                    padding: 16px;

                    border-radius: 4px;

                    background-color: $red;
                    span {
                        font-weight: 500;
                        font-size: 24px;
                        color: #fff;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
