#movieRecommend::-webkit-scrollbar {
  display: none;
}

#groupStreaming .group-streaming {
  display: flex !important;
  flex-direction: row;
  background-color: black;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  color: white;

  .group-chat-box {
    display: block;
    overflow-y: auto;
    height: 100vh;
    width: 0;
    opacity: 0;
    border-left: 1px solid rgb(61, 61, 61);
    float: right;
    transition: all 0.5s;
    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }
    &.active {
      width: 20vw;

      opacity: 1;
    }
  }
  .icon-chevron {
    position: absolute;
    top: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 2px white;
    border-radius: 50%;

    z-index: 6;

    transition: all 0.5s;

    cursor: pointer;
    &--left {
      @extend .icon-chevron;
      left: 0;
      &.active {
        left: 0.5%;
      }
    }
    &--right {
      @extend .icon-chevron;
      right: 0;
      &.active {
        right: 0.5%;
      }
    }
  }

  .absolute__top {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;

    padding-left: 2vw;

    z-index: 6;

    // background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));

    .icon-container {
      cursor: pointer;
      z-index: 2;

      text-decoration: none;
      color: white;

      transition: all 0.5s;
      span {
        opacity: 0;
        transition: all 0.5s;
      }
      &:hover {
        transform: scale(1.2);
      }
      &:hover > span {
        opacity: 1;
      }
    }

    .icon-back {
      width: 1.6em;
      height: 1.6em;
      stroke: white;
    }
  }
  .body-content {
    padding: 0 3rem;
    margin-top: 5vh;
    min-height: 65vh;
    .list-grid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-gap: 1rem;
      .grid-container {
        position: relative;
        height: 310px;
        max-height: 360px;
        min-height: 290px;

        width: 220px;
        min-width: 180px;
        max-width: 230px;

        padding-bottom: 40px;
        box-sizing: border-box;

        cursor: pointer;
        .item-grid {
          z-index: 1;

          border-radius: 10px;
          transition: all 0.4s;
          border: solid 1.5px gray;
          &:hover {
            transform: translateY(14%);
          }
          &:hover ~ .name-label {
            opacity: 1;
          }
        }
        .multi-landing-stack-space-holder {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 4px;

          .multi-landing-stack {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
            &-1 {
              @extend .multi-landing-stack;
              top: 2px;
              left: 3px;
              z-index: 2;
              background-color: #dbdbd7;
            }
            &-2 {
              @extend .multi-landing-stack;
              top: 5px;
              left: 7px;
              z-index: 1;
              background-color: #dbdbd7;
            }
          }

          .title-card {
            @extend .multi-landing-stack;
            top: 0;
            left: 0;
            z-index: 3;
          }
        }
        .name-label {
          font-size: 0.9rem;
          height: 15%;
          width: 100%;

          position: absolute;
          top: 0;
          left: 0;

          opacity: 0;

          border-radius: 4px 4px 0 0;

          background-color: #e50914;
          color: #fff;

          text-align: center;

          transition: all 0.3s;
          z-index: 0;
        }
      }
    }
    .spinner-color {
      color: #e50914;
      height: 3rem;
      width: 3rem;
    }

    /* Screen larger than 900px? 3 columns */
    @media (min-width: 900px) {
      .list-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width: 1100px) {
      .list-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (min-width: 1300px) {
      .list-grid {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media (min-width: 1550px) {
      .list-grid {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }

  .group-player {
    height: 100vh;
    flex-grow: 1;
    width: min-content;
    box-sizing: border-box;

    .search-box {
      // position: absolute;
      // top:0;
      // right:0;

      height: 80px;
      width: 20px;

      display: flex;
      align-items: center;

      box-sizing: border-box;
      transition: width 0.4s ease-in-out;
      &.input-search {
        width: 230px;
      }

      input {
        box-sizing: border-box;
        border: none;
        width: 0px;
        padding: 0;
        border-radius: 4px;
        height: 30px;
        transition: width 0.4s ease-in-out;
        border-radius: 4px;
        opacity: 1;
        background-color: #141414;
        float: right;
        color: #fff;
      }
      input:focus {
        width: 230px;
      }
    }
  }
}
