$blackOpacity1: rgba(0, 0, 0, 0.75);
$red: #e50914;
$gray: #8c8c8c;

#accountProfile .profile {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;

 

  z-index: 1;
  background-color: rgba(231, 231, 231, 0.808);
  &__header {
    height: fit-content;
    box-sizing: border-box;

    padding: 10px 15px;

    width: 100%;  

    border-bottom: 1px solid #e6e6e6;
    background-color: black;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;

      width: 100%;
     
     
    }

    &__logo {
      height: 32px;
      fill: #e50914;
      cursor: pointer;
    }
  }
  &__body {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5vh 0;
    &__container {
      width: 80%;
      max-width: 900px;
      
      height: 100%;
      

      .nav-item {
        height: 40px;
        width: 100%;

        cursor: pointer;

        display: flex;
        box-sizing: border-box;
        align-items: center;

        text-decoration: none;
        color: black ;

        
        .icon{
          height: 18px;
          width: 18px;
          margin: 0 5px;
          margin-right: 18px;
        }
        &:hover {
         
         
        }
      
      }
      
    }
  }
  @media (min-width: 400px) {
    .profile {
        height:100%;
    }
}
}
