.overflow-x-hidden{
    overflow-x: hidden;
}
.sub-header{
    height: 15vh;
}
.sub-header-wrapper{
    position: absolute;
    top: 7rem;
    left: 2rem;
    right: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    .galleryHeader{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        min-height: 0;
        padding: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        .title{
            font-size: 2.5rem;
            font-weight: 500;
            display: inline-block;
            margin-right: 20px;
            line-height: 36px;
            color: white;
        }
    }
}