#moreLikeThis .episodesSelector__header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.episodesSelector__label {
    font-weight: 700;
    font-size: 24px;
    // margin-top: 48px;
    margin-bottom: 20px;
}

.episodesSelector__dropdown {
    font-size: 12px;
    font-weight: 600;
}

.episodesSelector__container {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.titleCardList__container {
    border-top: 1px solid #404040; //Only first one
    border-bottom: 1px solid #404040;
    padding: 1em;
    padding-left: 0px;
    border-radius: 0.25em;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.titleCard_title_index {
    font-size: 1.5em;
    color: #d2d2d2;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    flex: 0 0 7%;
}

.titleCard_imageWrapper {
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 0;

    border-radius: 4px;

    img {
        height: 150px;
        width: 100px;
        display: block;
    }
}

.titleCardList__metadataWrapper {
    min-height: 100%;
    -webkit-box-flex: 0;
   
    font-size: 1em;
    padding: 1em;
}

.titleCardList__title {
    padding-bottom: 0.5em;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.titleCard__title_text {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    overflow-wrap: anywhere;
}

.duration {
    padding-left: 10px;
}

.previewModal__small-text {
    font-size: 14px;
    line-height: 20px;
}

.dropdown-toggle.season-toggle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 4em;
    position: relative;
    // font-size: 1.5em;
    background-color: rgb(36, 36, 36) !important;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 0.1em solid white;
    &:hover,
    &:active {
        opacity: 0.5;
        transition: ease-in-out 0.3s;
        background-color: rgb(36, 36, 36) !important;
    }

    &::after {
        margin-left: 1.5em;
    }
}

.dropdown-menu {
    background-color: rgb(36, 36, 36) !important;
    .dropdown-item {
        color: white !important;
        &:hover,
        &:active {
            opacity: 0.3;
            transition: ease-in-out 0.3s;
            background: none !important;
        }
    }
}

.section__container {
}

.moreLikeThis__container {
    display: grid;
    grid-gap: 1em;
    -webkit-box-align: stretch;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: repeat(1, 1fr);
}

.titleCard__container.more-like-this-item {
    margin: 0.1em;
    width: 100%;
    max-width: 500px;
    height: 100%;
    
    -webkit-box-flex: 0;
    cursor: pointer;
    position: relative;

    border-radius: 0.25em;
}

.titleCard__container .titleCard-imageWrapper {
    position: relative;
    overflow: hidden;
}

.titleCard__metadataWrapper {
    background-color: #2f2f2f;
    min-height: 100%;
}

.videoMetadata--container-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 5% 0;
}

.videoMetadata--container {
    padding: 0;
    min-width: unset;
}

.videoMetadata--container .videoMetadata--first-line {
    max-width: 100%;
    margin: 0.25em 0.5em 0.25em 0;
}

.match-score {
    max-width: 300px;
    opacity: 1;
    transition: max-width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s, opacity 150ms linear 2.2s;
    white-space: unset;
    color: #46d369;
    font-weight: 700;
    font-size: 10px;
    display: inline-block;
}

.title-movie {
    opacity: 1;
    white-space: unset;
    color: white;
    font-weight: 600;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.titleCard__container .titleCard-imageWrapper img {
    width: 100%;
    height: 100%;
    
    max-height: 400px;
}

.has-smaller-buttons {
    border: 1px solid rgba(124, 124, 124, 0.7);
    color: white;
    border-radius: 999px;
    overflow: hidden;
    
    :hover {
        border-radius: 999px;
        background: rgba(124, 124, 124, 0.7);
    }
}

.ltr-dguo2f {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.titleCard-synopsis.previewModal--small-text {
    color: #d2d2d2;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;

    margin:0;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.titleCard__container .titleCard--metadataWrapper {
    background-color: #181818;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    padding: 0 5%;
}
@media (min-width: 600px) {
    .titleCard-synopsis.previewModal--small-text {
        -webkit-line-clamp: 2;
    }
}

@media (min-width: 1050px) {
    .titleCard-synopsis.previewModal--small-text {
        -webkit-line-clamp: 3;
    }
}

@media (min-width: 1200px) {
    .titleCard-synopsis.previewModal--small-text {
        -webkit-line-clamp: 4;
    }
}
@media (min-width: 1400px) {
    .titleCard-synopsis.previewModal--small-text {
        -webkit-line-clamp: 5;
    }
}
