

.PreviewButton__container{
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1em;
    // margin-left: 1em;
    min-height: 1vw;
}

.PreviewButton__float-left-container{
    // float: left;
    // position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1000;
    padding: 5px;
}

.PreviewButton__float-right-container{
    float: right;
    // position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    padding: 5px;
}

.PreviewButton__float-top-right-container{
    float: right;
    
    z-index: 1000;
    padding: 5px;
}

.PlayButton__primary-color{
    background-color: white;
    color: black;
    &:hover{
        opacity: 0.5;
        transition: ease-in-out 0.3s;
    }
}

.PlayButton__primary-button{
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    padding: 1% 3%;
    
    position: relative;
}

.PlayButton__secondary-color{
    border-width: 2px;
    background-color: rgba(109, 109, 110, 0.7);
    border-color: rgba(255,255,255,.5);
    color: white;
    &:hover{
        opacity: 0.5;
        transition: ease-in-out 0.3s;
    }
}


.PlayButton__secondary-button{
    border-radius: 80px;
    cursor: pointer;
    padding: 15px;
    position: relative;
}

.PlayButton__close-color{
    background-color: rgba(42,42,42,.6);
}

.PlayButton__close-button{
    border: 0px;
    border-radius: 80px;
    cursor: pointer;
    padding: 0.8rem;
    position: relative;
}

.PlayButton__primary-text{
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: inline;
    font-size: 1.2rem;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
}

.PlayButton__primary-text-transform{
    // float: right;
    // transform: translateY(0.25rem);
}

.PlayIcon_icon {
    width: 2.2rem;
    display: inline;

}

.PlayIcon_icon-container {
    display: inline-flex;
}

.AddIcon_icon {
    color: white;
    height: 2rem;
    width: 2rem;
}

.CloseIcon_icon {
    color: white;
    height: 2rem;
    width: 2rem;
}

// Custom Bootstrap
.plr-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ml-2{
    margin-left: 0.5rem;
}

.mr-2{
    margin-right: 0.5rem;
}